@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&family=Poppins:wght@100;200&family=Raleway:wght@100;200;300&family=Work+Sans:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&family=Fira+Code:wght@300&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&family=Poppins:wght@100;200&family=Raleway:ital,wght@0,100;1,100&family=Work+Sans:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Inter:wght@200;300;400&family=Libre+Baskerville:wght@400;700&display=swap");
.nav {
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.box {
  border-radius: 16px 16px 0px 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.input {
  box-shadow: 2px 4px 20px 0px rgba(212, 224, 252, 0.80);
}
.pro {
  border-radius: 16px 16px 0px 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.swipe-appear,
.swipe-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.swipe-appear-active,
.swipe-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms, opacity 500ms;
}
.swipe-exit {
  transform: translateX(0);
  opacity: 1;
}
.swipe-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}
.nav-container {
  transition: opacity 0.5s, transform 0.5s;
}
.nav-container.closing {
  opacity: 0;
  transform: translateX(100%);
}
.contain:hover .tag {
  display: block;
  box-shadow: 2px 4px 20px 0px rgba(212, 224, 252, 0.8);
}
.update {
  border-radius: 16px 0px 16px 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Figtree" !important;
}

.quill {
  display: flex;
  flex-direction: column-reverse;
}

.ql-container.ql-snow {
  border: none !important;
  border-bottom: 1px solid #CCD0D8 !important;
  height: 60vh;
  font-family: "Fira Code" !important;
  color: #1D2023 !important;
  width: 100% !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  font-size: 300px !important;
}

@media screen and (max-width: 500px) {
  .ql-container.ql-snow {
    height: 50vh;
  }
}